@model IEnumerable<PRONBS.Models.DataModels.Plan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Incident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stage6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlanStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Incident.IncidentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage1.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage2.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage3.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage4.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage5.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stage6.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlanStatus.PlanStatusName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
