@model IEnumerable<PRONBS.Models.DataModels.TimeLog>

@{
    ViewData["Title"] = "Index";

}


    <div class="badge">
        <div class="col-sm-12 text-center" style="border-bottom: double; padding: 4px 4px 4px 4px;">
            <h6>Timelogs search ALL</h6>
            <div class="col-sm-12 text-center" style="padding:4px 4px 4px 4px;">
                <a class="btn btn-sm btn-success" asp-controller="TimeLogs" asp-action="Create">Create new Timelog !</a>
                <a class="btn btn-sm btn-success" asp-controller="Verifications" asp-action="Index">To Verifications!</a>
            </div>
        </div>
            <div class="col-sm-12 text-center" style="border-bottom: double; padding:4px 4px 4px 4px;">
                <form asp-controller="TimeLogs" asp-action="IndexSearch">
                    <p>
                        INC#: <input type="text" name="SearchString">
                        Emloyee Firstname: <input type="text" name="SearchString1">
                        Emloyee Lastname: <input type="text" name="SearchString2">
                        NABLog Status: <input type="text" name="SearchString3">
                        <input type="submit" value="Search" />
                    </p>
                </form>
            </div>
            <div class="alert-heading">
                <h6>Total Hours: @Model.Sum(t => t.Hours)</h6>
                <h6>Total Payment: @Model.Sum(t => t.TotalCost) SEK</h6>
            </div>
            <table class="table table-responsive-sm table-striped">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Incident)</th>
                        <th>@Html.DisplayNameFor(model => model.Employee)</th>

                        <th>@Html.DisplayNameFor(model => model.DateTimeStarted)</th>
                        <th>@Html.DisplayNameFor(model => model.DateTimeEnded)</th>

                        <th>@Html.DisplayNameFor(model => model.LogNotes)</th>
                        @*<th>@Html.DisplayNameFor(model => model.PriceHour)</th>
                        <th>@Html.DisplayNameFor(model => model.MtrCost)</th>*@
                        <th>@Html.DisplayNameFor(model => model.Hours)</th>

                        <th>@Html.DisplayNameFor(model => model.TotalCost)</th>
                        <th>@Html.DisplayNameFor(model => model.TimeLogStatus)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.OrderBy(t => t.DateTimeEnded).Where(t => t.TimeLogStatusId < 4))
                    {
                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Incident.IncidentNumber)</td>
                            <td> @Html.DisplayFor(modelItem => item.Employee.FullName)</td>

                            <td>@Html.DisplayFor(modelItem => item.DateTimeStarted)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateTimeEnded)</td>

                            <td>@Html.DisplayFor(modelItem => item.LogNotes)</td>
                            @*<td>@Html.DisplayFor(modelItem => item.PriceHour)</td>
                            <td>@Html.DisplayFor(modelItem => item.MtrCost)</td>*@
                            <td>@Html.DisplayFor(modelItem => item.Hours)</td>

                            <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>
                            <td>@Html.DisplayFor(modelItem => item.TimeLogStatus.TimeLogStatusName)</td>
                            <td><a class="btn btn-sm btn-success" asp-controller="TimeLogs" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                            <td><a class="btn btn-sm btn-success" asp-controller="TimeLogs" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>

                        </tr>
                    }
                </tbody>
            </table>


            <a class="btn btn-sm btn-success" asp-controller="TimeReports" asp-action="IndexSearch">To Timereports</a>
        </div>
