@model PRONBS.Models.DataModels.TimeReport

@{
    ViewData["Title"] = "Details";
    //Layout = "~/Views/_ViewImports.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TimeReport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TimeReportName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TimeReportName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeCreated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateTimeTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Creator.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-controller="TimeReports" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-controller="TimeReports" asp-action="IndexSearch">Back to Time Reports</a>
</div>
