@model PRONBS.Models.DataModels.MtrlList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MtrlList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item6)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item7)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item7)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item8)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item8)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item9)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item9)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item10)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item10)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-controller="MtrlLists" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-controller="MtrlLists" asp-action="ListMtrlLists">Back to Mtrl. Lists</a>
</div>
