@model PRONBS.Models.ViewModels.DataViewModel
@{
    ViewData["Title"] = "ListMtrlLists";
}
<div class="badge">
    <h1>Mtrl. Lists</h1>
    <a class="btn btn-sm btn-success" asp-controller="MtrlLists" asp-action="Create">Create new list</a>
    @*<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Admin">Back to Admin</a>
    <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Mobile">Back to Mobile</a>*@

    <table class="table table-responsive-sm table-striped">
        <thead>
            <tr>                
                <th>@Html.DisplayNameFor(model => model.MtrlLists[0].Description)</th>
                <th>@Html.DisplayNameFor(model => model.MtrlLists[0].Item1)</th>
                <th>@Html.DisplayNameFor(model => model.MtrlLists[0].Item2)</th>
                <th>@Html.DisplayNameFor(model => model.MtrlLists[0].Item3)</th>
                <th>@Html.DisplayNameFor(model => model.MtrlLists[0].Item4)</th>
                <th>@Html.DisplayNameFor(model => model.MtrlLists[0].Item5)</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.MtrlLists.OrderBy(mtrl => mtrl.Description))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item1)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item2)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item3)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item4)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item5)</td>
                    
                    <td>
                        <a class="btn btn-sm btn-success" asp-controller="MtrlLists" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-success" asp-controller="Mtrllists" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        @*<a class="btn btn-sm btn-danger" asp-controller="People" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>