@model PRONBS.Models.DataModels.NABLog

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NABLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incident.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtrCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtrCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WLog.WLogStatus)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLogStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLogStatus.NABLogStatusName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-sm btn-danger" />
        <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="ListNABLogsCreated">Back to NABLogs</a>
    </form>
</div>
