@model PRONBS.Models.DataModels.NABLog

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NABLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incident.IncidentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeStarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeStarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeEnded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceHour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceHour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MtrCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MtrCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WLog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WLog.WLNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NABLogStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NABLogStatus.NABLogStatusName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="ListNABLogsCreated">Back to NABLogs</a>
</div>
