@model IEnumerable<PRONBS.Models.DataModels.NABLog>
@{
    ViewData["Title"] = "IndexRep";
}
    <div class="badge">

        <h3>NABLogs - Reported - Employee search</h3>



        <form asp-controller="NABLogs" asp-action="IndexRep">
            <p>
                Search for Employee: <input type="text" name="SearchString">
                <input type="submit" value="Search" />
            </p>
        </form>
        <div class="alert-heading">
            <h3>Total Hours: @Model.Where(i => i.NABLogStatusId == 2).Sum(i => i.Hours)</h3>
        </div>
        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.WLog.Employee)</th>


                    <th>@Html.DisplayNameFor(model => model.Incident)</th>
                    <th>@Html.DisplayNameFor(model => model.DateTimeStarted)</th>

                    <th>@Html.DisplayNameFor(model => model.DateTimeEnded)</th>
                    <th>@Html.DisplayNameFor(model => model.LogNotes)</th>

                    <th>@Html.DisplayNameFor(model => model.Hours)</th>
                    <th>@Html.DisplayNameFor(model => model.PriceHour)</th>

                    <th>@Html.DisplayNameFor(model => model.MtrCost)</th>
                    <th>@Html.DisplayNameFor(model => model.TotalCost)</th>

                    <th>@Html.DisplayNameFor(model => model.WLog)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogStatus)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(nl => nl.DateTimeEnded).Where(nl => nl.NABLogStatusId == 2))
                {
                    <tr>
                        <td> @Html.DisplayFor(modelItem => item.WLog.Employee.FullName)</td>

                        <td> @Html.DisplayFor(modelItem => item.Incident.IncidentNumber)</td>
                        <td> @Html.DisplayFor(modelItem => item.DateTimeStarted)</td>

                        <td>@Html.DisplayFor(modelItem => item.DateTimeEnded)</td>
                        <td>@Html.DisplayFor(modelItem => item.LogNotes)</td>

                        <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                        <td>@Html.DisplayFor(modelItem => item.PriceHour)</td>

                        <td>@Html.DisplayFor(modelItem => item.MtrCost)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>

                        <td>@Html.DisplayFor(modelItem => item.WLog.WLNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.NABLogStatus.NABLogStatusName)</td>
                        @*<td>
                            <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>*@
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="ListNABLogsReported">Back to NABLogs Reported</a>
    </div>