@model IEnumerable<PRONBS.Models.DataModels.NABLog>

@{
    ViewData["Title"] = "Index";
    
}


    <div class="badge">

        <h3>NABLogs ALL - INC# - Search</h3>


        <div class="col-sm-12 text-center">
            <form asp-controller="NABLogs" asp-action="Index">
                <p>
                    INC#: <input type="text" name="SearchString">
                    Emloyee Firstname: <input type="text" name="SearchString1">
                    Emloyee Lastname: <input type="text" name="SearchString2">
                    NABLog Status: <input type="text" name="SearchString3">
                    <input type="submit" value="Search" />
                </p>
            </form>            
        </div>
        <div class="alert-heading">
            <h3>Total Hours: @Model.Sum(nl => nl.Hours)</h3>
            <h3>Total Total Cost: @Model.Sum(nl => nl.TotalCost) SEK</h3>            
        </div>
        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Incident)</th>
                    <th>@Html.DisplayNameFor(model => model.DateTimeStarted)</th>

                    <th>@Html.DisplayNameFor(model => model.DateTimeEnded)</th>
                    <th>@Html.DisplayNameFor(model => model.LogNotes)</th>

                    <th>@Html.DisplayNameFor(model => model.Hours)</th>
                    @*<th>@Html.DisplayNameFor(model => model.PriceHour)</th>
                    <th>@Html.DisplayNameFor(model => model.MtrCost)</th>*@
                    <th>@Html.DisplayNameFor(model => model.TotalCost)</th>

                    <th>@Html.DisplayNameFor(model => model.WLog)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogStatus)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(nl => nl.DateTimeEnded).Where(nl => nl.NABLogStatusId < 4))
                {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.Incident.IncidentNumber)</td>
                    <td> @Html.DisplayFor(modelItem => item.DateTimeStarted)</td>

                    <td>@Html.DisplayFor(modelItem => item.DateTimeEnded)</td>
                    <td>@Html.DisplayFor(modelItem => item.LogNotes)</td>

                    <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                    @*<td>@Html.DisplayFor(modelItem => item.PriceHour)</td>
                    <td>@Html.DisplayFor(modelItem => item.MtrCost)</td>*@
                    <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>

                    <td>@Html.DisplayFor(modelItem => item.WLog.WLNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.NABLogStatus.NABLogStatusName)</td>
                    <td><a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Details" asp-route-id="@item.Id">Details</a></td>
                    <td><a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>

                </tr>
                }
            </tbody>
        </table>


        <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="ListNABLogsCreated">Back to NABLogs</a>
    </div>
