@model PRONBS.Models.ViewModels.DataViewModel
@{
    ViewData["Title"] = "ListNABLogsReportedPO";
}
    <div class="badge">
        <h1>NABLogs - Reported For Per Orest</h1>
        <h4>Total Hours: @Model.NABLogs.Sum(nl => nl.Hours)</h4>
        <h4>Total Cost: @Model.NABLogs.Sum(nl => nl.TotalCost) SEK</h4>
        <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Create">Create new NABLog</a>
        <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Reporting">Back to Reporting</a>


        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].WLog.Employee)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].Incident)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].DateTimeStarted)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].DateTimeEnded)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].Hours)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].TotalCost)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].WLog.WLNumber)</th>
                    <th>@Html.DisplayNameFor(model => model.NABLogs[0].NABLogStatus)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.NABLogs.OrderBy(nl => nl.DateTimeEnded))
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.WLog.Employee.FullName)</td>
                        <td>@Html.DisplayFor(modelItem => item.Incident.IncidentNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateTimeStarted)</td>
                        <td>@Html.DisplayFor(modelItem => item.DateTimeEnded)</td>
                        <td>@Html.DisplayFor(modelItem => item.Hours)</td>
                        <td>@Html.DisplayFor(modelItem => item.TotalCost)</td>
                        <td>@Html.DisplayFor(modelItem => item.WLog.WLNumber)</td>
                        <td>@Html.DisplayFor(modelItem => item.NABLogStatus.NABLogStatusName)</td>
                        <td>
                            <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-sm btn-success" asp-controller="NABLogs" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            @*<a class="btn btn-sm btn-danger" asp-controller="NABLogs" asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>